



/* ---------------- 
Common Css start
--------------------*/
.body{
   font-family: "Poppins", sans-serif
}
a{
    text-decoration: none;

}
ul,ol{
    list-style: none;
}
.common-title h2{
    font-size: 48px;
    color: #282938;
    font-weight: 600;
  
}
.common-title p{
    font-size: 16px;
    color: #282938;
    font-weight: 400;
    width: 405px;
    padding: 16px 0px;
    
    
    
    
}
.common-title a{
    font-size: 16px;
    color: #2405f2;
    font-weight: 400;
    
    
    
}
/* ---------------- 
Common Css end
--------------------*/





 /* <!-- --------------------
     Navber part start
     ----------------------- --> */
     nav{
        background-color: #1C1E53;
        padding: 30px 0px !important;
        
       
        
        
    }
    .navbar-nav{
        column-gap: 32px;
        padding-right: 48px;

      
    }
    .nav-link{
        color: #BBBBCB;
        font-weight: 500;
        font-size: 16px;
        transition: .4s;
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-family: "Poppins", sans-serif
        
       
    }
    .nav-link:hover{
        color: white;
    }
    .navber-button{
        background-color: transparent;
        text-decoration: none;
        color: white;
        padding: 16px 46px;
        border-radius: 40px;
        border: 1px solid white;
        font-size: 16px;
        transition: .4s;
        font-family: "Poppins", sans-serif  
    
       
    }
    .navber-button:hover{
        background: #FCD980;
        border: 1px solid transparent;
        color: black;
    }

     /* <!-- --------------------
     Navber part end
     ----------------------- --> */
      /* <!-- --------------------
     Banner part start
     ----------------------- --> */ 
     .banner{
        background-color: #1C1E53;
        padding: 100px 0px;
         
     }
     .banner h2{
         font-size: 54px;
         line-height: 72px;
       
         font-weight: 600;
         color: #ffffff;
         font-family: "Poppins", sans-serif
         
         
         
     }
     .banner p{
        font-size: 16px;
        line-height: 28px;
        padding-top: 10px;
        width: 500px;
        font-weight: 500;
        color: #ffffff;
        padding-top: 2px;
        padding-bottom: 48px;
        font-family: "Poppins", sans-serif
        
    }
    .banner .banner-button{
        background-color: #FCD980;
      
        color: #000;
        padding: 16px 56px;
        border-radius: 40px;
        font-size: 16px;
        transition: .4s;
        border: 1px solid transparent;
        font-family: "Poppins", sans-serif 

        
        

    }
    .banner .banner-button:hover{
        background-color: transparent;
        border-color: white;
        color: white;

    }
    .banner .banner-button2{
        text-decoration: none;
        padding: 16px 56px;
        color: white;
        font-size: 16px;
        font-family: "Poppins", sans-serif 


    }

   
    .banner .banner-button2{
        position: relative;
    }
    .banner .banner-button2 .buttonicon{
        position: absolute;
        top: 22px;
        right: 56px;
        opacity: 0;
    }
     .banner-button2:hover .buttonicon{
        
        right: 22px;
        opacity: 1;
    }
     /* <!-- --------------------
     Banner part end
     ----------------------- --> */
     /* <!-- --------------------
     work part start
     ----------------------- --> */
     .work{
        padding: 128px 0px;
        background: #f4f6fc;
     }
     .work .box{
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
     }
     .work .card{
        width: 50%;
        background: transparent;
        border: 0px;
        
     }
     
     .work .card img{
        width: 20%;
        
     }
      
     .work .card h4{
        font-size: 32px;
        color: #282938;
        font-weight: 600;
        padding-top: 16px;
        padding-bottom: 8px;
        font-family: "Poppins", sans-serif 
        

        
     }
     .work .card p{
        font-size: 16px;
        color: #282938;
        font-weight: 400;
        width: 301;
        font-family: "Poppins", sans-serif 

        
     }
     /* <!-- --------------------
     work part end
     ----------------------- --> */
     
     /* <!-- --------------------
     wproject part start
     ----------------------- --> */
     .project{
        padding: 128px 0px;
     }
     .project .box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 64px;
        
     }
     .project h2{
        font-size: 48px;
        color: black;
        font-weight: 600;
        font-family: "Poppins", sans-serif 
        
     }
     .project p{
        margin-top: 12px;
        font-size: 16px;
        color: black;
        font-weight: 400;
        font-family: "Poppins", sans-serif 
     }
     .project p i{
        margin-left: 10px;
        
     }
     .project img{
        width: 100%;
        
     }
     .project .image-box{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
     }
     .project .imagetwo{
        margin-left: 9px;
     }
     .project .fastimage{
        position: relative;
        overflow: hidden;
     }
     .project .overly{
        width: 52%;
        height: 100%;
        background-image: linear-gradient(to right, #1c1e536b, #1C1E53 );
        position: absolute;
        top: 0;
        left: -52%;
        transition: .4s;
        padding-top: 312px;
        padding-left: 48px;
        padding-right: 36px;
       

     }
     .project .fastimage:hover .overly{
        left: 0;
     }
     .project .fastimage .overly h4{
        font-size: 24px;
        color: white;
        font-weight: 500;
        font-family: "Poppins", sans-serif 
     }
     .project .fastimage .overly p{
        font-size: 16px;
        color: white;
        font-weight: 500;
        padding-top: 16px;
        padding-bottom: 30px;
        line-height: 28px;
        font-family: "Poppins", sans-serif 
     }
     .project .fastimage .overly a{
        font-size: 16px;
        color: #FCD980;
        font-weight: 500;
        font-family: "Poppins", sans-serif 
     }
     
     .project .fastimage .overly a i{
        margin-left: 10px;
     }
  
     .project .image-box{
      position: relative;
      overflow: hidden;
   }
     .project .over{
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to right, #1c1e536b, #1C1E53 );
      position: absolute;
      top: -52%;
      transition: .4s;
      padding-left: 72px;
      padding-right: 100px;

   }
   .project .image-box:hover .over{
      top: 0;
   }
   .project .image-box .over h2{
      font-size: 24px;
      color: white;
      font-weight: 400;
      font-family: "Poppins", sans-serif 
   }
   .project .image-box .over a{
      font-size: 16px;
      color: #FCD980;
      font-weight: 400;
      font-family: "Poppins", sans-serif 
   }
   .project .image-box.over a i{
      margin-left: 10px;
   }
     
     /* <!-- --------------------
     project part end
     ----------------------- --> */
     
     /* <!-- --------------------
     feature part start
     ----------------------- --> */
     .feature{
      background: #F4F6FC;
      padding: 128px 0px;
     }
 
   .feature .feature-common-title h2{ 
      width: 619px;
      text-align: center;
      margin: 0 auto;
      line-height: 64px;
      padding-top: 16px;
      padding-bottom: 47px;

   }

   .feature .feature-common-title p{
      width: 485px;
      text-align: center;
      margin: 0 auto;
   }
   .feature-card{
      background: #FFFFFF;
      padding-top: 58px;
      padding-bottom: 48;
   }
   .feature .feature-card{
      padding-top: 58px;
      padding-left: 48px;
      padding-bottom: 48px;
      padding-right: 32px;
   }
   .feature .feature-card h4{
      padding-top: 22px;
      padding-bottom: 12px;
      color: #282938;
      font-size: 24px;font-weight: 500;
      font-family: "Poppins", sans-serif 
   }
   .feature .feature-card p{
      color: #282938;
      font-size: 16px;
      font-weight: 400;
      font-family: "Poppins", sans-serif


   }
   
     
     /* <!-- --------------------
     feature part end
     ----------------------- --> */
     
     
     /* <!-- --------------------
     About us part start
     ----------------------- --> */
     .about{
      padding: 130px 0px;
      background: #F6F8FC;
     }
     .about h2{
      font-size: 38px;
      font-weight: 600;
      color: #282938;
      width: 327px;
      font-family: "Poppins", sans-serif
     }
     .about .para-one{
      padding-top: 16px;
      font-size: 16px;
      font-weight: 400;
      color: #282938;
      width: 327px;
      font-family: "Poppins", sans-serif
     }
     .about h3{
      font-size: 32px;
      font-weight: 500;
      color: #282938;;
      line-height: 48px;
      font-family: "Poppins", sans-serif
     }

     .about .profile-area{
      display: flex;
      align-items: flex-start;
      column-gap: 14px;
      padding-top: 48px;
     }
     .about .profile-area h6{
      font-size: 18px;
      font-weight: 500;
      color: #282938;;
      font-family: "Poppins", sans-serif
     }
     .about .profile-area .pare-two{
      font-size: 12px;
      font-weight: 500;
      color: #282938;;
      font-family: "Poppins", sans-serif
     }
     
     
     /* <!-- --------------------
     About us part end
     ----------------------- --> */
     /* <!-- --------------------
     Faq part start
     ----------------------- --> */
     .faq{
      padding: 128px 0px;

     }
     .accordion-header span{
      padding-right: 40px;
      font-size: 20px;
      color: blue;
     }
     .accordion-button{
      font-size: 24px;
      color: #282938;
      font-weight: 500;
      font-family: "Poppins", sans-serif
     }
     .accordion-button.collapsed{
      color: #000 !important;
      
     }
     .accordion-button{
      color: #fff !important;
      

     
     }
     .accordion-item{
      border: 0px !important;
     }
     .accordion-body{
      border-bottom: 1px solid #ECECF1;
      padding-left: 74px;
      padding-right: 60px;
      padding-top: 16px;
      padding-bottom: 48px;
      font-size: 18px;
      color: #282938;
      font-weight: 500;
      font-family: "Poppins", sans-serif
     
     }
     .accordion-button::after{
      background-image: none;
      content: "+";
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
     }
     .accordion-button:not(.collapsed)::after{
      background-image: none;
      content: "x";
      top: 40%;
      right: 30px;
      transform: translateY(-50%);


     }
     /* <!-- --------------------
     Faq part end
     ----------------------- --> */
     